
<div class="centered_container">

<div class="content">
	<!-- Start Demo -->

	<div class="cache">
		<!-- masks -->
		<img src="assets/masks/footylogo_sliderbase.svg">
		<img src="assets/masks/footy_preslider.svg">
		<!-- <img src="assets/masks/cube-c.svg"> -->
		<!-- photos -->
		<img src="http://res.cloudinary.com/mckshreder/image/upload/c_fill,h_960,w_1280/v1441944370/Kevin_switch_ollie_yrsbvs.jpg">
		<img src="http://static1.squarespace.com/static/53694a6de4b0e9a5f9b52a44/5369640ae4b0849f186ecd86/536b0d83e4b0f62cfc19db33/1433346068094/Mckenzie_Garrett_Tony.jpg?format=2500w">
		<img src="http://static1.squarespace.com/static/53694a6de4b0e9a5f9b52a44/5369640ae4b0849f186ecd86/536b0d39e4b03ee65fca507b/1433346067307/last+minute+shit400px+-113.jpg">
	</div>

	<div class="wrapper">
		<div class="prism-slider">
			<ul class="navigation"></ul>
		</div>
		<div class="copy">
			<article>
				<h2>FOOTY™</h2>
				<p>SKATE | FILM | SHARE<p>
				<p>
					Spend any time watching your gardens birds and you'll soon discover a host of different behaviours. It might be a Blackbird preening its feathers, a group of Starlings whirling about the sky in a pre-roosting flock or a Greenfinch showing a Blue Tit who is boss.
				</p>
			</article>
		</div>
	</div>
	<!-- End Demo -->
</div>

		